.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    margin-bottom: 30px;
  }
}

ul {
  list-style-type: none;
}

.track_name {
  float: left;
}

.info {
  border: 2px solid;
}
