.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    margin-bottom: 30px;
  }
}

ul {
  list-style-type: none;
}

.track_name {
  float: left;
  margin-left: 10px;
}

.artistDiv {
  margin-top: 25px;
}

.artist_name {
  float: left;
  margin-left: 10px;
}

.collectionDiv {
  margin-top: 25px;
}

.collection_name {
  margin-left: 10px;
  float: left;
}

.info {
  border: 2px solid;
  overflow: auto;
  margin-bottom: 10px;
}

#favBtn {
  float: right;
}

#delBtn {
  float: right;
}

.previewDiv {
  margin-top: -60px;
  margin-left: 425px;
}

#previewBtn {
  font-size: 16px !important;
  padding: 10px 15px !important;
}
