<div class="jumbotron">
  <p class="lead" ng-show="haveFav">Here is a list of your favourite songs...</p>
  <div ng-show="haveFav" class="favourites" ng-repeat="result in favourites">
    <div class="info">
      <div class="trackDiv">
        <p class="track_name">Song Name: {{result.trackName}}</p>
      </div>
      <button class="glyphicon glyphicon-remove" id="delBtn" ng-click="delFav(favourites, $index)"></button><br>
      <div class="artistDiv">
        <p class="artist_name">Artist Name: {{result.artistName}}</p>
      </div><br>
      <div class="collectionDiv">
        <p class="collection_name">Album Name: {{result.collectionName}}</p>
      </div>
    </div>
  </div>

  <p class="lead">Search for a Song, Artist or an Album</p>
  <input type="text" class="input" ng-model="searchTerm" ng-model-options="{ updateOn: 'default blud', debounce: {'default': 500, 'blur': 0} }">
  <p><a class="btn btn-lg btn-success" id="searchBtn" ng-click="doSearch(searchTerm)">Search!</span></a></p>

  <div class="results" ng-hide="noResults">
    <ul class="list-group">
      <li ng-repeat="result in searchResult.results | limitTo:10" ng-show="searchTerm">
        <div class="info">
          <div class="trackDiv">
            <p class="track_name">Song Name: {{result.trackName}}</p>
          </div>
          <button class="glyphicon glyphicon-heart" id="favBtn" ng-click="addFav(result)"></button><br>
          <div class="artistDiv">
            <p class="artist_name">Artist Name: {{result.artistName}}</p>
          </div><br>
          <div class="collectionDiv">
            <p class="collection_name">Album Name: {{result.collectionName}}</p>
          </div>
          <div class="previewDiv">
            <p><a class="btn btn-primary" id="previewBtn" ng-click="openLink(result)">Preview</span></a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <p class="nill" ng-show="noResults" ng-model="noResults">Sorry, no results available.</p>
</div>
